<section class="container-fluid h-90">
  <h1 mat-dialog-title>Create Order</h1>

  <span (click)="onCancel()" mat-dialog-close class="closeDialog">X</span>

  <mat-dialog-content style="height: 80%; width: 100%">
    <div class="mt-5">
      <form [formGroup]="ordersForm" class="example-form">
        <div class="row mt-3">
          <div class="col-lg-3 col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> Person Name </mat-label>

              <input type="text" matInput formControlName="personName" placeholder="Person Name" />
            </mat-form-field>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Quantity </mat-label>

              <input type="text" matInput formControlName="quantity" placeholder="Quantity" />
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> Stock Name </mat-label>

              <mat-select formControlName="stockName" (selectionChange)="setStockPrice($event)">
                <mat-option *ngFor="let stock of stocks" [value]="stock.stockName">{{ stock.stockName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> Price </mat-label>

              <input type="text" [readonly]="true" matInput formControlName="price" placeholder="Price" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="mt-3">
      <button type="button" class="btn-lg outline-light btn btn-primary" (click)="createOrder()">Create Order</button>
    </div>
  </mat-dialog-actions>
</section>
