.mt-3 {
  margin-top: 3rem !important;
}

.btn.btn-primary {
  background: #161c30;
  border: 2px solid #161c30;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #fff !important;
  border-color: #161c30;
  color: #161c30;
}
